.loadingScreenFadeIn{
    /* background-color: rgba(226, 226, 226, 0.61); */
    max-width: fit-content;
    border-radius: 14px;
    position: absolute;
    z-index: 100;
    pointer-events:none;
    opacity:1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
.loadingScreenFadeOut{
    max-width: fit-content;

    /* background-color: rgba(226, 226, 226, 0.61); */
    border-radius: 14px;
    position: absolute;
    opacity:0;
    visibility: collapse;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}